@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #caf4fa;
    box-sizing: border-box;
    margin: 0;

}

* {
    font-family: "inter", "sans-serif";
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.header__navigation {
    display: inline;
    height: 200px;
}

.header__navigation-getTo {
    text-align: center;
    height: 50px;
    padding: 20px 0 0 100px;
    margin: 0 0 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    
}

.header__navigation-list {
    display: inline;
    margin-right: 100px;
    
}

.header__navigation-links {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000 ;
}

.header__navigation-links:hover {
    font-size: 20px;
    font-weight: 800;
    color: #91b7ef;
}




#userContainer{

}

.orderDiv{
    width: 350px;
    background-color: #f6f6f6;
    border-radius: 12px;
    margin: 0 auto;
}

.orderDate{
    text-align: center;
    font-size: 15px;

}

.orderDesc{
    list-style: none;
    font-size: 12px;
    
}
.orderImg{
    width: 100px;
    height: 100px;
}
