@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #caf4fa;
    box-sizing: border-box;
    margin: 0;

}
a{
    text-decoration: none;
}
* {
    font-family: "inter", "sans-serif";
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.orderDiv{
    width: 350px;
    background-color: #f6f6f6;
    border-radius: 12px;
    margin: 0 auto;
}

.orderDate{
    text-align: center;
    font-size: 15px;

}

.orderDesc{
    list-style: none;
    font-size: 12px;
    
}
.orderImg{
    width: 100px;
    height: 100px;
}
