@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #caf4fa;
    box-sizing: border-box;

}

* {
    font-family: "inter", "sans-serif";
}

a {
    text-decoration: none;
    color: #000;
}

.header__navigation {
    display: inline;
    height: 200px;
}

.header__navigation-getTo {
    text-align: center;
    padding-left: 190px;
}

.header__navigation-list {
    display: inline;
    margin-right: 100px;
}

.header__navigation-links {
    font-size: 20px;
    font-weight: 500;
}

.btn-product {
    border: none;
    background-color: #ffff;
    font-size: 15px;
    padding: 0;
    position: relative;
    right: 40px;
}

.btn-product:hover {
    background-color: #91b7ef;
}

.main {
    display: flex;
    gap: 160px;
}

.main__slider {
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.slider {
    display: flex;
    z-index: 0;
}

.slider__image {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    padding: 0px;
}

.main__slider-nextbutton,
.main__slider-prevbutton {
    color: #4073c0;
    background-color: #f6f6f6;
    border: 0.5px solid rgb(146, 146, 197);
    width: 50px;
    border-radius: 50px;
}

.main__slider-prevbutton {
    height: 30px;
    position: absolute;
    top: 230px;

}

.main__slider-nextbutton {
    height: 30px;
    position: absolute;
    right: 0px;
    top: 230px;
}

.main__slider-nextbutton:hover,
.main__slider-prevbutton:hover {
    background-color: #91b7ef;
    transition: 0.4s ease;
}

.main__navigation {
    width: 200px;
    height: 400px;
    background-color: #ffff;
    border-radius: 12px;
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation__categorie {
    list-style: none;
    padding-left: 0;
    font-weight: 800;

}

.dropdown {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown li {
    padding-left: 45px;
    border: none;
}

.dropdown.active {
    display: block;
    position: absolute;
    background-color: white;    
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-button {
    border: none;
    background-color: #ffff;
    text-align: left;
    width: 150px;
    cursor: pointer;
}

.navigation__categorie-product {
    list-style: none;
}

.storage__products {
    width: 800px;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 20px;
}


.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}

.item__image {
    display: inline-block;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__image-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
}

.item__add {
    width: 200px;
    height: 200px;
    text-align: right;
    padding-left: 100px;
    margin-bottom: 100px;
}

.item__buttons {
    margin-right: 35px;

}

.item__add-description {
    text-align: left;
    font-size: 25px;
}

.item__add-price {
    text-align: left;
}

.item__add-capacity {
    text-align: left;
}

.increment {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    font-size: medium;
    font-weight: 200;
    margin-right: 25px;
    text-align: center;
}

.decrement {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    font-size: medium;
    font-weight: 200;
    margin-right: 25px;
    text-align: center;
}

.addToStorage {
    height: 30px;
    width: 155px;
    border-radius: 25px;
    border: none;
    font-size: medium;
    font-weight: 200;
    margin-right: 15px;
    color: #ffff;
    background-color: #1c67d9;
}

.count {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-right: 25px;
}

.increment:hover,
.decrement:hover {
    background-color: #bdcddc;
}

.addToStorage:hover {
    background-color: #91b7ef;
}